.chart-card{
        background: blue;
        height: 180px;
        box-shadow: inset 0px 150px 150px blueviolet;
        height: 350px;
        width: 350px;
        margin:  15px auto;
        color: white;
        padding: 6%;
}
.chart-card p,.chart-card h3{
    margin-top: 15px;
}
.chart-card p{
    font-size: 18px;
}
.chart-card h3{
    font-size: 35px;
}
#chart{
    box-shadow: 0 0 200px rgba(0,0,0,0.1) inset;
    padding: 5%;
}
.chart-text h6{
    color: rgb(11, 75, 11);
    font-weight: 600;
    font-size: 18px;
}
.green{
    border: 1.5px solid rgb(11, 75, 11);
    width: 10%;
    margin: auto;
}
.chart-text{
    text-align: center;
}
.chart-text h1{
    margin: 15px auto;
}
.chart-text p{
    margin: 20px auto;
    width: 60%;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 35px;
}
.chart-card a{
    color:white;
    text-decoration: none;
}