#account{
    margin: 8% 15%;
    border: 1px solid #dddddd;
}
#account img{
    float: right;
    height: 150px;
    margin: 15px;
    border-radius: 100%;
}
#account .account-info{
    padding: 5%;
}
table {
        /* font-family: arial, sans-serif; */
        border-collapse: collapse;
        width: 100%;
      }

      td,
       th {
        border: 1px solid #dddddd;
        border-left: none;
        border-right: none;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
